@import "general.css";
@import "./media/basket.css";

.elems-summary,.basket-elem,.item-count,.total-price,.qty-color {
    display: flex;
}
.basket-container {
    padding: 0 20px;
}
.basket-container > h2 {
    margin-bottom: 50px;
}
.elems-summary {
    justify-content: space-between;
}
.basket-elems {
    margin-bottom: 40px;
    margin-right: 25px;
}
.basket-elem {
    border: 1px solid var(--lightmilk);
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}
.basket-elem > div:not(:last-child),.basket-elem > img {
    margin-right: 20px;
}
.price {
    font-weight: 400;
    font-size: 24px;
    color: #2D2D2B;
}
.go-back {
    text-decoration: underline;
    color: var(--brown);
    font-weight: 500;
    cursor: pointer;
}
.cross {
    cursor: pointer;
}
.summary {
    width: 330px;
    background: #DFD7CF;
    padding: 20px;
    border-radius: 10px;
}
.summary > h4,.summary > div {
    margin-bottom: 15px;
}
.item-count,.total-price {
    justify-content: space-between;
}
.item-count > div,.total-price > div {
    font-weight: 600;
    color: #2D2D2B;
}
.qty-color {
    align-items: center;
}
.circle1 {
    height: 25px;
    width: 25px;
    background: var(--brown);
    border-radius: 50%;
    margin-right: 20px;
}
