@import "media/contact-us.css";

.contact-inputs-img,.contact-input-btn {
    display: flex;
}
.contact-container {
    padding: 0 20px;
}
.contact-top {
    margin-bottom: 30px;
}
.contact-input {
    width: 100%;
    border-radius: 10px;
    border: 1px solid var(--lightmilk);
    outline: none;
    padding: 15px;
    background: transparent;
    margin-bottom: 20px;
}
.contact-input::placeholder {
    color: var(--gray);
}
.contact-inputs-btn {
    flex-direction: column;
    margin-right: 60px;
}
.msg-area {
    resize: none;
}