@import "./media/footer.css";

.footer-top,.footer-top-elems {
    display: flex;
}
.footer {
    padding: 0 20px;
    margin-top: 50px;
}
.footer-top {
    align-items: center;
    margin-bottom: 20px;
}
.footer-title {
    font-size: 52px;
    font-weight: 400;
    font-family: 'Didot';
    color: #2D2D2B;
    margin-right: 40px;
}
.footer-top-elem {
    color: #717171;
}
.footer-top-elem:not(:last-child) {
    margin-right: 30px;
}
.footer-bottom > div {
    color: #2D2D2B;
}