@import "general.css";
@import "media/index.css";
@import "contact-us.css";
@import "footer.css";

.discount-container,.discount-block,.products-top
.lines-collections,.products-top,.header-phrase-img {
    display: flex;
}
.header-phrase-img {
    margin-bottom: 30px;
}
.slider1 {
    margin-bottom: 30px;
}
.phrase-text {
    line-height: 24px;
    color: #2D2D2B;
}
.header-phrase-left {
    padding-top: 300px;
    position: relative;
    margin-right: 30px;
}
.header-phrase-left > h1 {
    width: 830px;
    top: 110px;
    position: absolute;
}
/* .header-phrase-left > h1 {
    white-space: pre-line;
} */
.phrase-text {
    margin-bottom: 30px;
}
.slider1-elem {
    display: flex;
    align-items: flex-end;
    height: 175px;
    width: 300px;
    border-radius: 10px;
    background-image: url("../pics/home2.png");
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
}

.tall-line1 {
    height: 5px;
    background: var(--brown);
}
.tall-line1 {
    width: 40%;
}
.about-us-container,.most-popular-container,.products-container {
    padding: 0 20px;
}
.about-us-container {
    margin-bottom: 100px;
}
.about-us-txt-btn {
    flex-direction: column;
}
.about-us-main-words {
    margin-bottom: 30px;
}
.discount-container {
    height: 300px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-image: url("/pics/home4.png");
    background-repeat: no-repeat;
   background-size: cover;
   margin-bottom: 100px;
}
.discount-block > h2,.discount-txt {
    color: #fff;
}
.discount-txt {
    width: 440px;
    line-height: 24px;
    text-align: center;
}
.discount-block {
    flex-direction: column;
    align-items: center;
}
.discount-block > *:not(:last-child) {
    margin-bottom: 30px;
}
.products-container {
    margin-bottom: 50px;
}
.products-top {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.see-all,.see-all-mob {
    text-decoration: underline;
    color: var(--brown);
    cursor: pointer;
}
.see-all-mob {
    display: none;
}
.most-popular-title {
    margin-bottom: 50px;
}
.collections-container {
    background: var(--lightmilk);
    padding: 50px 20px;
    margin-bottom: 50px;
}
.lines-collections {
    align-items: center;
}
.collections-slider-mob {
    display: none;
}
.basket-icon-link {
    position: relative;
}
.basket-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18px;
    width: 18px;
    background: #2D2D2B;
    border-radius: 50%;
    position: absolute;
    color: #fff;
    top: -14px;
    left: 13px;
}
.shop-now-btn-text > a {
    color: var(--lightgray);
}