@import "general.css";

.search-result-container {
    padding: 0 20px;
}
.search-result-top > h2,.search-word {
    margin-bottom: 30px;
}
.search-elems {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
}
