@import "media/header.css";
.header-top, .lang-search,.nav-menu-container,.nav-menu  {
 display: flex;  
}
.header {
    padding: 0 20px;
}
.header-top {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.lang-search {
    align-items: center;
}
.lang {
    font-family: 'Raleway', sans-serif;
    margin-right: 5px;
    padding: 5px;
    border: 1px solid #D4C8BE;
    border-radius: 5px;
}
.lang,.basket-person > svg:first-child {
    margin-right: 30px;
}
.header-top-title {
    color: #2D2D2B;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
}
.nav-menu-container {
    justify-content: center;
    margin-bottom: 30px;
}
.nav-menu > li > a {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #2D2D2B;
    margin-right: 15px;
}
.search-mob-menu {
    align-items: center;
}
.search-mob-menu > svg:first-child {
    margin-right: 30px;
}
