@media only screen and (max-width: 768px) {
    .sort-txt {
        flex-direction: column;
    }
    .subtitle {
        width: 100% !important;
        margin-bottom: 30px;
    }
    .sort-by-btn {
        display: none;
    }
    .filter-products {
        margin-bottom: 30px;
    }
}