@media only screen and (max-width: 480px) {
    .lang-search {
        display: none !important;
    }
    .basket-person {
        display: none !important;
    }
    .search-mob-menu {
        display: flex;
    }
    .nav-menu-container {
        display: none !important;
    }
}
@media only screen and (min-width: 480px) {
    .search-mob-menu {
        display: none;
    }
}